#root {
  text-align: center;
}

body {
  font-family: var(--app-font);
  margin: 0;
  background-color: #f8f8f8;
  padding: 0;
  overflow-x: hidden;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.controls button {
  padding: 0.5rem 1rem;
  background-color: #3498db;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.controls button:disabled {
  background-color: #ccc;
  color: #888;
  cursor: not-allowed;
}

.cancel button {
  background-color: #e74c3c;
}
